[global]
DEBUG			= True

OTA_HOST		= 0.0.0.0
OTA_PORT		= 9080
OTA_ENDPOINT		= /ota
OTA_FIRMWARE_ROOT	= ./firmwares
# OTA_BASE_URL		= /homie-ota

[mqtt]
MQTT_HOST		= localhost
# MQTT_CAFILE		= /path/to/ca.crt
MQTT_PORT		= 1883
MQTT_USERNAME		= John
MQTT_PASSWORD		= secret
MQTT_SENSOR_PREFIX	= devices
